.pai-trilha {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.pai-trilha.show {
  opacity: 1;
  transform: translateY(0);
}

.increver {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.increver.show {
  opacity: 1;
  transform: translateY(0);
}
