body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", serif;
  font-size: 16px;
  line-height: 1.6;

  background-color: #ffffff;
  color: #333;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos a tela inteira */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container-login {
  flex: 1;
  max-width: 450px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  position: relative;

  min-height: 600px; /* Altura mínima para ambos forms */
}

form {
  width: 100%; /* Ocupa toda a largura do container-login */
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens do form */
  border-radius: 5px;
}
form label {
  margin-left: 18px;
  align-self: flex-start;
  color: #000000;
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
}

form input {
  font-family: "Poppins", serif;
  font-size: 16px;
  margin-bottom: 30px;
  padding-left: 10px;
  width: 400px;
  height: 48px;
  border-radius: 5px;
  border: 2px solid #e4e4e4;
  color: #292524;
}

.login-btn {
  cursor: pointer;
  background-color: #000000;
  color: white;
  width: 415px;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #0236c5;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

span {
  color: #0236c5;
  cursor: pointer;
}

.imgs-login {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.imgs-login img {
  width: 300px;
  height: auto;
}

.login-container-geral {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px; /* Espaço entre a imagem e o formulário */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
  max-height: 600px; /* Ajuste conforme necessário */
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  margin-left: 2px;
  align-self: flex-start;
}

#formlogin p {
  text-align: center; /* Centraliza o texto */
  width: 100%; /* Ocupa toda a largura */
  margin-top: 15px; /* Espaçamento consistente */
}

#formlogin p span {
  display: inline; /* Mantém o span inline com o texto */
}

#formlogin label {
  align-self: flex-start;
}
