footer {
  margin-top: 30px;
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
  height: 140px;
  width: 100%;
  background-color: #2135a6;
}

.rodape {
  display: flex;

  justify-content: center;
  align-items: center;

  margin-top: 20px;
  max-width: 1600px;
  width: 100%; /* Ocupa 100% da largura disponível */
  margin: 0 auto; /* Centraliza a div horizontalmente */
}

.rodape img {
  width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  footer {
    padding: 15px 19px;
  }

  .rodape img {
    display: block !important; /* Força exibição */
    width: 200px; /* Ou o tamanho desejado */
  }
}

/* Apenas ajuste de tamanho em mobile (opcional) */
@media (max-width: 480px) {
  .rodape img {
    margin-left: 25px;
    width: 180px; /* Redução leve se necessário */
  }
}
